<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>edit</title>

    <style>
        #list {
            background-color: rgb(4, 1, 30);
            color: cyan;
        }

        .card {
            background-color: rgb(4, 1, 30);
            color: cyan;
        }
    </style>
</head>

<body style="background-color: rgb(4, 1, 30);">

    <nav id="navbar" class="navbar navbar-dark navbar-expand-md bg-dark text-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">New Bill</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item ms-2">
                        <a class="nav-link" aria-current="page" href="/all"><button class="btn btn-primary"> All
                                Bills</button></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled"><button class="btn btn-info">Log in</button></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <div class="container text-center justify-content-center">
        <h1 class="text-info">Edit data of user:</h1>
        <h2 class=" fs-2 text-primary">
            <%= user.buyer %>
        </h2>
        <% if(user) {%>
            <% for(let product of user.products) { %>
                <div class="row text-center mt-5 mb-5">
                    <div class="col">
                        <div class="card text-center">
                            <div class="card-header">
                                <img src="https://flamingoshop.si/images/5f3d715197018.jpeg" class="card-img-top"
                                    alt="..." style="width: 15rem; height: 10rem">
                            </div>
                            <div class="card-body">

                                <ul
                                    class="list-group list-group-flush flex-row flex-wrap justify-content-center align-content-center">
                                    <li id="list" class="list-group-item col-5 d-inline">
                                        <label for="product">Product:</label>
                                        <input type="text" class="fs-5 text-dark" id="product"
                                            value="<%= product.name%>" disabled>

                                    </li>


                                    <li id="list" class="list-group-item col-5 d-inline">
                                        <label for="qty">Quantity:</label>
                                        <input type="text" id="qty" class="fs-5 text-dark" value="<%= product.qty %>"
                                            disabled>
                                    </li>

                                    <li id="list" class="list-group-item col-5 d-inline">
                                        <label for="firstOfWeek">1<sup>st</sup>/week</label><br>
                                        <% if(product.firstOfWeek=='true' ){ %>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                                                fill="currentColor" class="bi bi-check2-square bg-success mt-1 fs-5"
                                                id="firstOfWeek" viewBox="0 0 16 16">
                                                <path
                                                    d="M3 14.5A1.5 1.5 0 0 1 1.5 13V3A1.5 1.5 0 0 1 3 1.5h8a.5.5 0 0 1 0 1H3a.5.5 0 0 0-.5.5v10a.5.5 0 0 0 .5.5h10a.5.5 0 0 0 .5-.5V8a.5.5 0 0 1 1 0v5a1.5 1.5 0 0 1-1.5 1.5H3z" />
                                                <path
                                                    d="m8.354 10.354 7-7a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0z" />
                                            </svg>
                                            <% } else { %>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                                                    fill="currentColor" class="bi bi-check2-square bg-danger mt-1 fs-5"
                                                    id="firstOfWeek" viewBox="0 0 16 16">
                                                    <path
                                                        d="M3 14.5A1.5 1.5 0 0 1 1.5 13V3A1.5 1.5 0 0 1 3 1.5h8a.5.5 0 0 1 0 1H3a.5.5 0 0 0-.5.5v10a.5.5 0 0 0 .5.5h10a.5.5 0 0 0 .5-.5V8a.5.5 0 0 1 1 0v5a1.5 1.5 0 0 1-1.5 1.5H3z" />
                                                    <path
                                                        d="m8.354 10.354 7-7a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0z" />
                                                </svg>
                                                <% } %>

                                    </li>
                                    <li id="list" class="list-group-item col-5">
                                        <label for="pay">Payed:</label><br>
                                        <% if(user.pay=='true' ){ %>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                                                fill="currentColor" class="bi bi-check2-square bg-success mt-1" id="pay"
                                                viewBox="0 0 16 16">
                                                <path
                                                    d="M3 14.5A1.5 1.5 0 0 1 1.5 13V3A1.5 1.5 0 0 1 3 1.5h8a.5.5 0 0 1 0 1H3a.5.5 0 0 0-.5.5v10a.5.5 0 0 0 .5.5h10a.5.5 0 0 0 .5-.5V8a.5.5 0 0 1 1 0v5a1.5 1.5 0 0 1-1.5 1.5H3z" />
                                                <path
                                                    d="m8.354 10.354 7-7a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0z" />
                                            </svg>
                                            <% } else { %>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                                                    fill="currentColor" class="bi bi-check2-square bg-danger mt-1"
                                                    id="pay" viewBox="0 0 16 16">
                                                    <path
                                                        d="M3 14.5A1.5 1.5 0 0 1 1.5 13V3A1.5 1.5 0 0 1 3 1.5h8a.5.5 0 0 1 0 1H3a.5.5 0 0 0-.5.5v10a.5.5 0 0 0 .5.5h10a.5.5 0 0 0 .5-.5V8a.5.5 0 0 1 1 0v5a1.5 1.5 0 0 1-1.5 1.5H3z" />
                                                    <path
                                                        d="m8.354 10.354 7-7a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0z" />
                                                </svg>
                                                <% } %>
                                    </li>

                                    <li id="list" class="list-group-item col-5 d-inline">
                                        <label for="price">Price:</label>
                                        <input type="text" id="price" class="fs-5 text-dark"
                                            value="<%= product.price %>" disabled>
                                    </li>

                                    <li id="list" class="list-group-item col-5">
                                        <label for="total">Total:</label>
                                        <input type="text" id="total" class="fs-5 text-dark"
                                            value="<%= product.total %>" disabled>
                                    </li>


                                    <li id="list" class="list-group-item col-5">
                                        <label for="perMonth">Num / Month:</label>
                                        <input type="text" id="perMonth" class="fs-5 text-dark"
                                            value="<%= user.numPerMonth %>" disabled>
                                    </li>

                                    <li id="list" class="list-group-item col-5">
                                        <label for="month">Month:</label>
                                        <input type="text" id="month" class="fs-5 text-dark bg-light"
                                            value="<%= user.month %>" disabled>
                                    </li>

                                    <li id="list" class="list-group-item col-5">
                                        <label for="perYear">Num / Year:</label>
                                        <input type="text" id="perYears" class="fs-5 text-dark"
                                            value="<%= user.numPerYear %>" disabled>
                                    </li>

                                    <li id="list" class="list-group-item col-5">
                                        <label for="year">Year:</label>
                                        <input type="text" id="year" class="fs-5 text-dark" value="<%= user.year %>"
                                            disabled>
                                    </li>


                                    <li id="list" class="list-group-item col-5">
                                        <label for="date">Date:</label>
                                        <input type="text" id="date" class="fs-5 text-dark" value="<%= user.date %>"
                                            disabled>
                                    </li>


                                    <li id="list" class="list-group-item col-5">
                                        <label for="izdal">Izdal:</label>
                                        <input type="text" id="izdal" class="fs-5 text-dark" value="<%= user.izdal %>"
                                            disabled>
                                    </li>

                                </ul>
                            </div>

                        </div>
                    </div>

                    <div class="col">
                        <div class="card">
                            <form action="/all/<%= user._id %>?_method=PUT" method="POST">
                                <div class="card-header">
                                    <img src="https://flamingoshop.si/images/5f3d715197018.jpeg" class="card-img-top"
                                        alt="..." style="width: 15rem; height: 10rem">
                                </div>
                                <div class="card-body">
                                    <ul
                                        class="list-group list-group-flush flex-row flex-wrap justify-content-center align-content-center">
                                        <li id="list" class="list-group-item col-5 d-inline">
                                            <label for="product">Product name:</label>
                                            <input type="text" class="form-control fs-5 text-dark" id="product"
                                                name="name" value="<%= product.name %> " required>
                                        </li>


                                        <li id="list" class="list-group-item col-5 d-inline"><label
                                                for="kolicina">Quantity:</label>
                                            <input type="text" class="form-control fs-5 text-dark" id="kolicina"
                                                name="qty" value="<%= product.qty %> " required>
                                        </li>

                                        <li id="list" class="list-group-item col-5 d-inline"><label
                                                for="firstOfWeek">1<sup>st</sup>/week:</label><br>

                                            <input class="form-check-input fs-5 text-dark" type="checkbox" value="true"
                                                id="freeProduct" name="firstOfWeek">

                                            <input class="form-check-input fs-5 text-dark" type="checkbox" value="false"
                                                id="hiddenInput" name="firstOfWeek">

                                        </li>
                                        <li id="list" class="list-group-item col-5"><label
                                                for="payed">Payed:</label><br>
                                            <input type="checkbox" id="payed" name="user[pay]"
                                                class="form-check-input fs-5 text-dark" value="true">
                                            <input type="checkbox" id="pay2" name="user[pay]" class="form-check-input"
                                                value="false">
                                        </li>

                                        <li id="list" class="list-group-item col-5 d-inline"><label
                                                for="price">Price:</label>
                                            <input type="text" id="price" class="form-control d-inline fs-5 text-dark"
                                                name="price" value="<%= product.price %> " required>
                                        </li>

                                        <li id="list" class="list-group-item col-5"><label for="total">Total:</label>
                                            <input type="text" id="total" class="form-control fs-5 text-dark"
                                                name="total" value="<%= product.total %> " required>
                                        </li>

                                        <li id="list" class="list-group-item col-5"><label for="numPerMonth">Num /
                                                Month:</label>
                                            <input type="text" id="numPerMonth" class="form-control fs-5 text-dark"
                                                name="user[numPerMonth]" value="<%= user.numPerMonth %> " required>
                                        </li>

                                        <li id="list" class="list-group-item col-5"><label for="month">Month:</label>
                                            <input type="text" id="month" class="form-control fs-5 text-dark"
                                                name="user[month]" value="<%= user.month %> " required>
                                        </li>

                                        <li id="list" class="list-group-item col-5"><label for="numPerYear">Num /
                                                Year</label>
                                            <input type="text" id="numPerYear" class="form-control fs-5 text-dark"
                                                name="user[numPerYear]" value="<%= user.numPerYear %> " required>
                                        </li>

                                        <li id="list" class="list-group-item col-5"><label for="year">Year:</label>
                                            <input type="text" id="year" class="form-control fs-5 text-dark"
                                                name="user[year]" value="<%= user.year %> " required>
                                        </li>


                                        <li id="list" class="list-group-item col-5"><label for="soldDate">Date:</label>
                                            <input type="text" id="soldDate" class="form-control fs-5 text-dark"
                                                name="user[soldDate]" value="<%= user.soldDate %> " required>
                                        </li>


                                        <li id="list" class="list-group-item col-5"><label for="izdal">Izdal:</label>
                                            <input type="text" id="izdal" class="form-control fs-5 text-dark"
                                                name="user[izdal]" value="<%= user.izdal %> " required>
                                        </li>

                                    </ul>
                                </div>
                                <div class="card-footer">
                                    <button onclick="update()">Submit</button>
                                    <a href="/all/<%= user._id %> " class="card-link">Go Back</a>
                                </div>
                        </div>
                        </form>
                    </div>
                </div>
                <% } %>
                    <% } %>
    </div>

    <script>
        document.getElementById('pay2').style.display = 'none';
        document.getElementById('hiddenInput').style.display = 'none';
        function update() {
            let payed = document.getElementById('payed');
            let free = document.getElementById('freeProduct');
            if (payed.checked) {
                document.getElementById('payed').setAttribute('value', 'true');
                document.getElementById('payed').checked = true;
            } else {
                document.getElementById('pay2').setAttribute('value', 'false');
                document.getElementById('pay2').checked = true;
            }
            if (free.checked) {
                document.getElementById('freeProduct').setAttribute('value', 'true');
                document.getElementById('freeProduct').checked = true;
            } else {
                document.getElementById('hiddenInput').setAttribute('value', 'false')
                document.getElementById('hiddenInput').checked = true;
            }

        }
    </script>


</body>

</html>