<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>employer name</title>
</head>

<body>

    <div class="container">

        <div class="info">
            <h1>
                <%= employee %>
            </h1>
        </div>

        <div class="table-info">
            <tables>
                <thead>
                    <th>Izdelek</th>
                    <th>Količina</th>
                    <th>Cena</th>
                    <th>Mesec</th>
                    <th>Teden</th>
                    <th>Plačano</th>
                    <th>Datum izdaje</th>
                    <th>Izdal</th>

                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </tables>
        </div>

    </div>

</body>

</html>