a {
    text-decoration: none;
}

@media (max-width: 3000px) {
    #btn-func {
        margin: 3px;
    }

    .caption {
        margin-left: 10px;
    }

    #allUsers,
    #placano,
    #niPlacano {
        display: inline-flex;


    }

    #table-data,
    #table-head {
        position: sticky;
        top: 65px;
    }
}

@media (max-width: 1024px) {
    #btn-func {
        margin: 3px;
    }

    .caption {
        margin-left: 10px;
    }

    #allUsers,
    #placano,
    #niPlacano {
        display: inline-flex;


    }

    #table-data,
    #table-head {
        position: sticky;
        top: 65px;
    }
}

@media (max-width: 767px) {
    .caption {
        margin-left: 10px;
    }

    #allUsers,
    #placano,
    #niPlacano {
        display: inline-flex;


    }

    #table-data,
    #table-head {
        position: sticky;
        top: 65px;
    }
}

@media (max-width: 450px) {
    .caption {
        margin-left: 10px;
    }

    #allUsers,
    #placano,
    #niPlacano {
        display: inline-flex;


    }

    #table-data,
    #table-head {
        position: sticky;
        top: 65px;
    }
}