html {
    overflow-x: hidden;
}

a {
    text-decoration: none;
}#userInfo{
    position: sticky;
    justify-content: end;
    margin-right: 10px;
    top: 62px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgba(209, 210, 211);
}
.name,.role{
    width: fit-content;
    margin: 2px;
    font-weight: 700;
}
#notificationIcon{
    display: inline-flex;
    position: relative;
    padding: 0;
    align-items: center;
    top: 7px;
}
#notificationIcon:hover{
    cursor: pointer;
}
#notificationIcon >svg{
    margin-top: 12px;
}
#notNumber{
    position: relative;
    top: -6px;
    right: 8px;
    background-color: red;
    width: 14px;
    border-radius: 50%;
    text-align: center;
}
#notNum{
    margin: 0;
    padding: 1px;
    width: 100%;
    text-align: center;
    border-radius: 50%;
    font-size: 10px;
    font-weight: 700;
    color: white;
}

#notifications{
    visibility:hidden;
}
#notifications a{
    text-decoration: none;
    color:black;
}

#notificationIcon:hover~#notifications, #notifications:hover{ 
    cursor: pointer;
    visibility: visible;
    display:block;
    position: relative;
    text-wrap: nowrap;
    top: 0px;
    right: 360%;
    width: fit-content;
    background-color: white;
    list-style: none;
    text-align: start;
}
#notifications li:hover{
    background-color: rgb(161, 161, 161);
    box-shadow: inset 0px 5px 10px 5px rgb(209, 208, 208);
}
#btn-func {
    margin: 3px;
}

.caption {
    margin-left: 10px;
}

#allUsers,
#placano,
#niPlacano {
    display: inline-flex;


}

#table-data,
#table-head {
    position: sticky;
    top: 104px;
}
#myBtn {
    display: none;
    position: fixed;
    margin-bottom: 2px;
    top: 200px;
    right: 5px;
    z-index: 99;
    font-size: 36px;
    border: 1px solid rgb(71, 222, 249);
    outline: none;
    background-color: rgba(10, 13, 45, 0.986);
    color: rgb(71, 222, 249);
    cursor: pointer;
    padding: 5px;
    border-radius: 4px;
}

#bottom {
    display: none;
    position: fixed;
    top: 265px;
    right: 5px;
    z-index: 99;
    font-size: 36px;
    border: 1px solid rgb(71, 222, 249);
    outline: none;
    background-color: rgba(10, 13, 45, 0.986);
    color: rgb(71, 222, 249);
    cursor: pointer;
    padding: 5px;
    border-radius: 4px;
}

#myBtn:hover,
#bottom:hover {
    background-color: rgb(68, 202, 119);
    color: black;
}
@media (max-width: 3000px) {
    #btn-func {
        margin: 3px;
    }

    .caption {
        margin-left: 10px;
    }

    #allUsers,
    #placano,
    #niPlacano {
        display: inline-flex;


    }

    #table-data,
    #table-head {
        position: sticky;
        top: 104px;
    }

    #myBtn {
        display: none;
        position: fixed;
        margin-bottom: 2px;
        top: 200px;
        right: 5px;
        z-index: 99;
        font-size: 36px;
        border: 1px solid rgb(71, 222, 249);
        outline: none;
        background-color: rgba(10, 13, 45, 0.986);
        color: rgb(71, 222, 249);
        cursor: pointer;
        padding: 5px;
        border-radius: 4px;
    }

    #bottom {
        display: none;
        position: fixed;
        top: 265px;
        right: 5px;
        z-index: 99;
        font-size: 36px;
        border: 1px solid rgb(71, 222, 249);
        outline: none;
        background-color: rgba(10, 13, 45, 0.986);
        color: rgb(71, 222, 249);
        cursor: pointer;
        padding: 5px;
        border-radius: 4px;
    }

    #myBtn:hover,
    #bottom:hover {
        background-color: rgb(68, 202, 119);
        color: black;
    }
}

@media (max-width: 1024px) {
    #btn-func {
        margin: 3px;
    }
   
    .caption {
        margin-left: 10px;
    }

    #allUsers,
    #placano,
    #niPlacano {
        display: inline-flex;
        overflow-x: auto;
    }

    #table-data,
    #table-head {
        position: sticky;
        top: 0;

    }
}
