*{
    margin: 0;
    padding: 0;
}
#navbar{
    position: sticky;
    top: 0;
}
#userInfo{
    position: sticky;
    justify-content: end;
    margin-right: 10px;
    top: 66px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgba(209, 210, 211, 0.781);
}
.name,.role{
    width: fit-content;
    margin: 2px;
    font-weight: 700;
}

@media print{
    #userInfo,.name,.role{
        display:none !important;
    }
}