*{
    margin: 0;
    padding: 0;
}
#navbar{
    position: sticky;
    top: 0;
}
#userInfo{
    position: sticky;
    justify-content: end;
    margin-right: 10px;
    top: 66px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgb(209, 210, 211);
    box-shadow: inset 0px 0px 20px 5px rgba(107, 107, 107, 0.973)
}
.name,.role{
    width: fit-content;
    margin: 2px;
    font-weight: 700;
}
#notificationIcon{
    display: inline-flex;
    position: relative;
    padding: 0;
    align-items: center;
    top: 13px;
}
#notificationIcon:hover{
    cursor: pointer;
}
#notificationIcon >svg{
    margin-top: 5px;
}
#notNumber{
    position: relative;
    top: -10px;
    right: 8px;
    background-color: red;
    width: 14px;
    border-radius: 50%;
    text-align: center;
}
#notNum{
    margin: 0;
    padding: 1px;
    width: 100%;
    text-align: center;
    border-radius: 50%;
    font-size: 10px;
    font-weight: 700;
    color: white;
}

#notifications{
    visibility:hidden;
}
#notifications a{
    text-decoration: none;
    color:black;
}

#notificationIcon:hover~#notifications, #notifications:hover{
    cursor: pointer;
    visibility: visible;
    display:block;
    position: relative;
    top: 5px;
    right: 5%;
    width: fit-content;
    background-color: white;
    list-style: none;
    text-align: start;
}
#notifications li:hover{
    background-color: rgb(161, 161, 161);
    box-shadow: inset 0px 10px 10px 5px rgb(209, 208, 208);
}
@media print{
    #userInfo,.name,.role{
        display:none !important;
    }
}

@media screen and (max-width: 767px){
    #userInfo{
        top: 59px;
    }
}