* {
    color: black;
}

html {
    margin: 0%;
    padding: 0%;
}

body {
    margin: 0;
    padding: 0;
}


.containerr {
    width: 100%;
    margin: 0;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    overflow-x: hidden;
}

#info {
    display: flex;
    justify-content: end;

}

#info-ul {
    width: 240px;
    margin-right: 10px;
}

#info-ul ul {
    text-align: right;
}

#kraj {
    align-self: flex-end;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

#payDate,
#soldDate {
    width: 100px;
}

#numPerYear {
    width: 45px;
}

#numPerMonth,
#month {
    width: 35px;
}

#year {
    width: 60px;
}

#kt {
    width: 30px;
}


#myTable {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

#myTable td:hover {
    background-color: cyan;
    color: black;
}

#colorized:hover {
    background-color: cyan;
    color: black;

}

#cash {
    box-sizing: border-box;
    border-bottom: 2px solid black;
    margin-top: 35px;
}

li span,
h5 span {
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    width: auto;
    padding: 4px;

}

li span {
    box-sizing: border-box;
    border: 1px blue;
    text-align: center;
}

#ime {
    display: inline-block;
    box-sizing: border-box;
    height: 2em;
    width: auto;
    padding: 5px;
}
.prejemnik{
    margin-right: 5rem;
}
.crta{
    margin-right: 3rem; 
}

#hiderow {
    display: inline-block;
    flex-direction: row;
    transform: translate(50px, 280px);
    -webkit-transform: translate(50px, 280px);
    -moz-transform: translate(50px, 280px);
    -ms-transform: translate(50px, 280px);
    -o-transform: translate(50px, 280px);
}


.print {
    margin-bottom: 15vh;
}

@media (max-width: 3000px) {
    #izdal {
        display: inline-flex;
        flex-direction: column;
        padding: 0px;
    }

    #hiderow {
        display: inline-flex;
        flex-direction: row;
        transform: translate(150px, 340px);
        -webkit-transform: translate(150px, 340px);
        -moz-transform: translate(150px, 340px);
        -ms-transform: translate(150px, 340px);
        -o-transform: translate(150px, 340px);
    }

    #dates {
        padding: 0px;
        margin-left: -50px;
    }

    #dates-left {
        padding: 0px;
        margin-left: 98px;
    }

    #info {
        margin: 0;
        padding: 0;
    }

    #info-ul {
        padding: 0px;
    }

    #info-ul li {
        margin-left: 25px;
    }


}

@media (max-width: 1500px) {
    #izdal {
        margin-top: 0px;
    }

    #hiderow {
        display: inline-flex;
        flex-direction: row;
        transform: translate(50px, 330px);
        -webkit-transform: translate(50px, 330px);
        -moz-transform: translate(50px, 330px);
        -ms-transform: translate(50px, 330px);
        -o-transform: translate(50px, 330px);
    }

    #dates {
        padding: 0px;
        margin-left: -50px;
    }

    #dates-left {
        padding: 0px;
        margin-left: 98px;
    }

    #info {
        margin: 0;
        padding: 0;
    }

    #info-ul {
        padding: 0px;
    }

    #info-ul li {
        margin-left: 25px;
    }


}

@media (max-width: 1024px) {
    #izdal {
        margin-top: 0px;
    }

    #hiderow {
        display: inline-flex;
        flex-direction: row;
        transform: translate(50px, 330px);
        -webkit-transform: translate(50px, 330px);
        -moz-transform: translate(50px, 330px);
        -ms-transform: translate(50px, 330px);
        -o-transform: translate(50px, 330px);
    }

    #dates {
        padding: 0px;
        margin-left: -50px;
    }

    #dates-left {
        padding: 0px;
        margin-left: 98px;
    }

    #info {
        margin: 0;
        padding: 0;
    }

    #info-ul {
        padding: 0px;
    }

    #info-ul li {
        margin-left: 25px;
    }


}

@media (max-width: 550px) {
    #izdal {
        margin-top: 0px;
    }

    #hiderow {
        display: inline-flex;
        flex-direction: row;
        transform: translate(50px, 330px);
        -webkit-transform: translate(50px, 330px);
        -moz-transform: translate(50px, 330px);
        -ms-transform: translate(50px, 330px);
        -o-transform: translate(50px, 330px);
    }

    #dates {
        padding: 0px;
        margin-left: -50px;
    }

    #dates-left {
        padding: 0px;
        margin-left: 50px;
    }

    #info {
        margin: 0;
        padding: 0;
    }

    #info-ul {
        padding: 0px;
    }

    #info-ul li {
        margin-left: 25px;
    }


}

@media (max-width: 450px) {
    .containerr {
        overflow-x: auto;
    }

    #izdal {
        margin-top: 0px;
    }

    #hiderow {
        display: inline-flex;
        flex-direction: row;
        transform: translate(50px, 440px);
        -webkit-transform: translate(50px, 440px);
        -moz-transform: translate(50px, 440px);
        -ms-transform: translate(50px, 440px);
        -o-transform: translate(50px, 440px);
    }

    #dates {
        display: inline-flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;

    }

    #info {
        margin: 0;
        padding: 0;
        margin-left: auto;
        margin-right: auto;

    }

    #info-ul {
        margin: 0px;
    }

    #info-ul li {
        margin-top: 2px;
        margin-left: 7px;
    }


}

@media print {
    * {
        margin: 0;
        padding: 0;
        color: black;
    }

    #izdal {
        margin-top: 4px;
    }

    #navbar {
        display: none;
    }

    input[type] {
        border: 0;
    }

    #addrow,
    #zaključi,
    #placaj,
    #hideOnPrint,
    #hiderow, #deleteRow {
        display: none;
    }

    .container {
        overflow: hidden;
    }


    #payDate,
    #soldDate {
        width: 100px;
    }

    #numPerYear,
    #year,
    #numPerMonth,
    #month,
    #kt {
        width: 60px;
    }

}