* {
    margin: 0;
    padding: 0;
}


#row {
    margin: 0;
    padding: 0;
    width: 100%;
}

#search {
    height: 300px;
}


@media (max-width:800px) {
    #row {
        margin: 0;
        padding: 0;
        width: 100%;
        flex-direction: column;
    }

    #search {
        height: auto;
        width: 100%;
        box-sizing: border-box;
        text-align: center;

    }

    #qtyBuyedProducts,
    #tableProducts {
        box-sizing: border-box;
        text-align: center;
    }

    #result {
        padding: 0;
        box-sizing: border-box;
        width: 100%;
    }

    #data {
        margin: 0;
        padding: 0;
        display: inline-flex;
        width: 100%;
        overflow-x: auto;
    }

    #table {
        margin: 0;
        padding: 0;
        width: 100%;
        overflow-x: auto;
    }

    #table-data {
        overflow-x: auto;
    }

    #searched,
    #unPayedH1 {
        text-align: center;
    }
}

@media print {

    #search,
    #allBills,
    #navbar,
    #h1Results,
    #edit,
    #editLink, #successAlert, #errorAlert, #userInfo {
        display: none;
    }

    #allBills {
        transform: translate(00px, -65px);
        -webkit-transform: translate(00px, -65px);
        -moz-transform: translate(00px, -65px);
        -ms-transform: translate(00px, -65px);
        -o-transform: translate(00px, -65px);
    }

    #data {
        background-color: transparent;
        color: black;
        overflow: hidden;
    }


    #unPayedBills {
        transform: translate(00px, -90px);
        -webkit-transform: translate(00px, -90px);
        -moz-transform: translate(00px, -90px);
        -ms-transform: translate(00px, -90px);
        -o-transform: translate(00px, -90px);
        background-color: transparent;
        color: black;
    }

    #searched,
    #unPayedH1 {
        font-size: medium;
        text-align: center;
    }
}