

.holidayTable{
    table-layout: fixed;
}
#section,#left,#middle,#right{
    height: 86vh;
}
.table-responsive{
    margin-bottom: 10vh;
}
@media (max-width: 3000px) {
    #section {
        overflow: hidden;
    }

    #middle {
        max-height: 100vh;
        overflow-y: auto;
        margin-bottom: 15vh;
    }
    #left{
        max-height: 100vh;
        overflow-y: auto;
        margin-bottom: 10vh;
    }

    .container {
        margin-bottom: 10vh;
    }
    #right{
        max-height: 100vh;
    }

}

@media (max-width: 1505px) {
    html {
        overflow-x: hidden;
        overflow-y: visible;
    }

    #section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    #left {
        width: 100%;
        height: 100%;
    }

    #right {
        width: 100%;
        height: auto;
    }

    #middle {
        display: flex;
        width: 100%;
        margin: 0;
        padding: 0;
        justify-content: center;
        align-items: center;
    }
    #middleCol{
        max-height: 100%;
    }

    .container {
        margin: 0;
        column-gap: 0;
        max-width: 100%;
        max-height: 100%;

    }

    #reqTable {
        margin-top: 50px;
    }

    #reqTable,
    #approvedTable,
    #rejectedTable {
        display: flex;
        max-width: 100%;
        margin-top: 5;
        padding: 0;
        overflow: auto;
    }

    #tableReq,
    #tableApproved,
    #tableRejected {
        overflow-x: auto;
    }

    #reqTableHead,
    #approvedHead,
    #rejectedHead {
        overflow-x: auto;
    }
}

@media (max-width: 900px) and (orientation: landscape) {
    .container {
        margin: 0;
        max-width: 100% !important;
        height: 100%;
        margin-bottom: 10vh;
    }

    #reqTable,
    #approvedTable,
    #rejectedTable {
        display: flex;
        width: 100%;
        margin: 0;
        padding: 0;
        overflow: auto;
    }

    #tableReq,
    #tableApproved,
    #tableRejected {
        overflow-x: auto;
    }

    #reqTableHead,
    #approvedHead,
    #rejectedHead {
        overflow-x: auto;
    }

    #rejectedTable,
    #tableRejected {
        margin-bottom: 10vh;
    }
}
