<nav id="navbar" class="navbar navbar-dark navbar-expand-md bg-dark text-light mb-2">
    <div class="container-fluid">
        <a class="navbar-brand border-bottom border-3 rounded-bottom border-light" href="/">New Bill</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-evenly" id="navbarNav">
            <ul class="navbar-nav d-flex w-100 me-auto">
                <li class="nav-item ms-2 mt-2 p-0">
                    <a href="/all"><button class="btn btn-primary p-1" id="btn-func">All bills</button></a>
                </li>

                <li class="nav-item ms-2 mt-2">
                    <a href="/search"><button class="btn btn-outline-info p-1 text-light" id="btn-func">Search
                            Employee</button></a>
                </li>
                <li class="nav-item ms-2 mt-2">
                    <a href="/costs"><button class="btn btn-danger p-1" id="btn-func">Costs</button></a>
                </li>
                <li class="nav-item ms-2 mt-2">
                    <a href="/vacation"><button class="btn btn-info p-1" id="btn-func">
                            Vacation</button></a>
                </li>
                <li class="nav-item dropdown ms-2 mt-2">
                    <a href="/users"><button type="button" class="btn btn-info p-1">Users</button></a>
                    <button type="button" class="btn btn-info dropdown-toggle  dropdown-toggle-split p-1"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="visually-hidden">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu">
                        <li class="dropdown-item">
                            <a href="/add"><button class="btn btn-success p-1" id="btn-func">Add
                                    employee</button></a>
                        </li>

                        <li class="dropdown-item">
                            <a href="/register"><button class="btn btn-success p-1" id="btn-func">Add
                                    user</button></a>
                        </li>

                    </ul>
                </li>
                <li class="ms-auto me-right mt-2">
                <a href="/#" >
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="white" class="bi bi-cart" viewBox="0 0 18 18">
                      <path d="M11.5 4v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5ZM8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1Zm0 6.993c1.664-1.711 5.825 1.283 0 5.132-5.825-3.85-1.664-6.843 0-5.132Z"/>
                    </svg>
                  </a>
                </li>
                <% if(currentUser) {%>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout"><button class="btn btn-outline-info ms-1 p-1"> Log
                                out</button></a>
                    </li>
                    <% }else {%>
                        <li class="nav-item">
                            <a class="nav-link" href="/login"><button class="btn btn-outline-info ms-1 p-1"> Log
                                    In</button></a>
                        </li>
                        <% } %>
            </ul>
        </div>
    </div>
</nav>